doctype html
html
  head
    title RobotArmWebClient
    link(href='/stylesheets/babylon.css', rel='stylesheet')
    script(src='/javascripts/babylon.js')
    script(src='/javascripts/RunBabylon.js')

  body
    canvas#renderCanvas
